﻿<div class="container">
    <div class="jumbotron text-justify">
        <img class="profilePic drag-left" src="/Content/cv.png" width="100%" alt="...">
        <h2 class="text-center aboutHeading">About Me</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel volutpat mauris. Mauris magna dui, feugiat molestie pulvinar sed, suscipit in libero. Nam venenatis quis lacus vel facilisis. Vivamus id quam aliquet, sollicitudin tellus nec, pellentesque tortor. Maecenas tortor leo, vehicula eget quam vitae, placerat porttitor urna. In blandit non enim ac varius. Pellentesque dui eros, pellentesque volutpat rutrum eget, efficitur ac lorem. Duis vulputate turpis eget lacinia aliquam. Quisque malesuada luctus mollis. In nec elementum tortor. Morbi eget purus malesuada, tempus augue ut, pretium mauris.
        </p>
        <a href="" class="btn btn-default">Read full article</a>
        <a href="" class="btn btn-info">Share</a>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-btn btn-danger btn pull-right">Subscribe</a>
        <p class="navbar-text pull-right">Keep up with the content</p>
    </div>
</div>

<div class="modal fade" id="contact" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Contact Me</h4>
            </div>
            <div class="modal-body">
                <p>Realy nice formated contact information. I swear. Just look at it!</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>