﻿@model IEnumerable<PersonalBlog.Models.BlogPostModel>
@{
    ViewBag.Title = "The Blog of Zoin - Home";
}
<div class="container">
    <div class="jumbotron text-justify">
        <div class="page-header text-center">
            <h1>The Blog of Zoin</h1>
        </div>
        <h2 class="text-center">@Model.ElementAt(0).Title</h2>
        <img class="featuredImg" src=@Model.ElementAt(0).ImagePath width="100%">
        <p>
            @Model.ElementAt(0).Content
        </p>
        <a href="blog.html" class="btn btn-default">Read full article</a>
        <a href="" class="btn btn-info">Share</a>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a class="navbar-btn btn-danger btn pull-right">Subscribe</a>
        <p class="navbar-text pull-right">Keep up with the content</p>
    </div>
</div>
