﻿@model IEnumerable<PersonalBlog.Models.GalleryModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Add", "Create")
</p>
<div class="container" >
    <div class="row galleryImages">
        @foreach(var item in Model)
        {
            
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a download="first-image.jpg" href=@item.ImageUrl
               title="ImageName">
                <img class="img-responsive" src=@item.ImageUrl />
            </a>
        </div>
        }
    </div>
</div>
