﻿@model IEnumerable<PersonalBlog.Models.BlogPostModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    @Html.ActionLink("Create New", "Create")
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">
                        <h2>@item.Title <span class="small">@item.DateAdded</span></h2>
                    </div>
                    <img class="featuredImg" src=@item.ImagePath width="100%">
                    <div class="content">
                        @item.Content
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <text> | </text>
        @Html.ActionLink("Details", "Details", new { id = item.ID }) <text> | </text>
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </div>
}

